@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;400;500;600;700&display=swap');

/* Custom Properties */

:root {
    --h2-font-size: 3rem;
    --h3-font-size: 1.7rem;
    --p-font-size: 1.2rem;

    --h2-font-weight: 600;
    --h3-font-weight: 500;
    --p-font-weight: 500;

    --btn-color: hsl(0, 88%, 44%);
    --h2-color: hsl(0, 0%, 100%);
    --h3-color: hsl(0, 0%, 93%);
    --p-color: hsl(0, 0%, 90%);
    --footer-font-color: hsl(0, 0%, 45%);
}

/* Reset */

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Base Styling */

html,
body {
    font-family: 'Encode Sans', sans-serif;
    background-color: black;
    scroll-behavior: smooth;
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--h2-font-weight);
    color: var(--h2-color);
    line-height: 1.1;
}

h3 {
    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);
    color: var(--h3-color);
    margin: 15px 0;
}

p {
    font-size: var(--p-font-size);
    font-weight: var(--p-font-weight);
    color: var(--p-color);
}

a {
    text-decoration: none;
    color: var(--p-color);
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

span {
    color: hsl(0, 0%, 100%);
}

li {
    list-style-type: none;
}

.btn {
    background: var(--btn-color);
    text-align: center;
    padding: 0.5rem 1.3rem;
    color: hsl(0, 0%, 100%);
    border-radius: 3px;
    cursor: pointer;
    border: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    outline: none;
    transition: 0.2s ease-in;
}

.btn:hover {
    opacity: 0.85;
}

/* Header Content Styling */

.header {
    background: url(../images/background.jpg) no-repeat center center / cover;
    height: 100vh;
    width: 100%;
    position: relative;
    min-width: min-content;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.header-top {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
    z-index: 2;
}

.header .header-top > img {
    height: 35px;
    width: 130px;
}

.header .header-top > a {
    top: 50%;
    right: 0;
}

.header .header-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 120px 400px 0;
}

.header .header-subcontent {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.header-subcontent p {
    margin: 25px 0;
}

.header-subcontent form input {
    height: 60px;
    width: 500px;
    font-size: 1.2rem;
    padding-left: 15px;
}

.header-subcontent form a {
    display: block;
    margin: auto;
    margin-top: 10px;
    padding: 10px 0;
    font-size: 1.6rem;
    border-radius: 3px;
    width: 200px;
}

.header-subcontent form a:hover {
    background: hsl(0, 95%, 52%);
    opacity: 1;
}

.header-subcontent form a:active {
    transform: scale(0.98);
}

.header-subcontent form a > i {
    margin-left: 10px;
}

/* TV Container Content Styling */

.tv-container {
    height: 100%;
    min-width: 400px;
}

.tv-container::before {
    content: "";
    display: block;
    width: 100%;
    height: 8px;
    background-color: hsl(0, 0%, 17%);
}

.movies-container {
    padding: 45px;
}

.movies-container .movies-container-content {
    display: flex;
    max-width: 1100px;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
}

.movies-text {
    width: 52%;
    height: 100%;
}

.movies-text > h3 {
    margin-top: 20px;
}

.movies-animation-container {
    width: 48%;
    height: 100%;
    display: flex;
}

.movies-card-display {
    position: relative;
    z-index: 1;
    margin-right: -15%;
    margin-left: 15%;
}

.movies-card-display > img {
    max-width: 100%;
    height: auto;
}

.movies-animation-container .movies-card-display .movies-card-animation > video {
    position: absolute;
    top: 20.5%;
    left: 8%;
    z-index: -1;
    height: 54.5%;
    width: 83%;
}

/* Download Container Content Styling */
.download-container {
    height: 100%;
    min-width: 400px;
}

.download-container::before {
    content: "";
    display: block;
    width: 100%;
    height: 8px;
    background-color: hsl(0, 0%, 17%);
}

.download-container .download-container-content {
    padding: 40px 45px;
    margin-bottom: 0;
}

.download-container .mobile-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-container .mobile-img-container {
    width: 48%;
    /* height: auto; */
    position: relative;
}

.mobile-img-container > img {
    width: 500px;
    /* height: auto; */
    display: block;
}

.mobile-img-container .item-download-container {
    border: 2px solid hsl(0, 0%, 45%);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 10px 10px;
    margin: 20px auto;
    width: 50%;
    min-width: 15em;
    position: absolute;
    left: 40%;
    bottom: 0.5%;
    background: #000;
    transform: translateX(-50%);
}

.mobile-img-container .item-download-container > img {
    height: 80px;
    width: 60px;
    margin-right: 15px;
}

.item-download-container .download-title-display {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.item-download-container .downloading-image {
    margin: auto 0;
}

.item-download-container .downloading-image > img {
    height: 50px;
    width: 50px;

}

.item-download-container .download-title-display > h5 {
    font-size: 1.1rem;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
}

.item-download-container .download-title-display > p {
    color: hsl(240, 100%, 50%);
    font-size: 0.95rem;
    font-weight: 200;
}

.download-container .mobile-text {
    width: 52%;
}

/* Everywhere Container Styling */

.everywhere-container::before {
    content: "";
    display: block;
    width: 100%;
    height: 8px;
    margin-top: 25px;
    background-color: hsl(0, 0%, 17%);
}

.everywhere-container-content {
    padding: 40px 100px;
    width: 55%;
}

/* Kids Profile Container Content Styling */

.kids-profile-container::before {
    content: "";
    display: block;
    width: 100%;
    height: 8px;
    margin-top: 25px;
    background-color: hsl(0, 0%, 17%);
}

.kids-profile-container .kids-profile-content {
    display: flex;
}

.kids-profile-content .kids-profile-img {
    width: 50%;
    margin: 0 auto;
    padding: 70px 10px 30px 100px;
}

.kids-profile-content .kids-profile-text {
    width: 50%;
    padding: 150px 90px;
}

/* Questions Container Content Styling */

.faq-container::before {
    content: "";
    display: block;
    width: 100%;
    height: 8px;
    background-color: hsl(0, 0%, 17%);
}

.faq-container .faq-title {
    text-align: center;
    padding: 20px 300px; 
}

.faq-title > h2 {
    margin: 50px;
}

input {
    display: none;
}

label {
    display: block;
    cursor: pointer;
    background: hsl(0, 0%, 19%);
    color: hsl(0, 0%, 100%);
    text-align: left;
    padding: 1rem;
    font-size: 1.6rem;
    transition: ease 0.5s;
    margin-bottom: 0.2rem;
    position: relative;
    z-index: 1;
    user-select: none;
}

label > i {
    float: right;
}

.answer {
    padding: 0;
    background: hsl(0, 0%, 19%);
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
}

.answer p {
    font-size: 1.4rem;
    padding: 1rem;
}

input + label + .answer {
    display: none;
    height: 0;
    font-size: 0;
    transition: ease 0.5s;
}

input:checked + label + .answer {
    display: block;
    height: max-content;
    font-size: 1.6rem;
}

.faq-container .header-subcontent {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-bottom: 65px;
}

.faq-container .header-subcontent p {
    margin: 25px 0;
}

.faq-container .header-subcontent form input {
    height: 60px;
    width: 500px;
    font-size: 1.2rem;
    padding-left: 15px;
}

.faq-container .header-subcontent form a {
    display: block;
    margin: auto;
    margin-top: 10px;
    padding: 10px 0;
    font-size: 1.6rem;
    border-radius: 3px;
    width: 200px;
}

.faq-container .header-subcontent form a:hover {
    background: hsl(0, 95%, 52%);
    opacity: 1;
}

.faq-container .header-subcontent form a:active {
    transform: scale(0.98);
}

.faq-container .header-subcontent form a > i {
    margin-left: 10px;
}

/* Footer Container Content Styling */

.footer-container::before {
    content: "";
    display: block;
    width: 100%;
    height: 8px;
    background-color: hsl(0, 0%, 17%);
}

.footer-container .footer-container-content {
    padding: 50px 200px;
}

.footer-container .contact-link {
    display: block;
    margin-bottom: 15px;
}

.footer-container .contact-link > a {
    color: hsl(0, 0%, 42%);
}

.contact-link > a:hover {
    text-decoration: underline;
}

.footer-container .footer-link-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-container .footer-link-list ul li {
    margin: 20px 0;
    font-size: 0.8rem;
}

.footer-container .footer-link-list ul li > a {
    color: hsl(0, 0%, 42%);
}

.footer-container .footer-link-list ul li > a:hover {
    text-decoration: underline;
}

.footer-container .footer-text p {
    color: hsl(0, 0%, 42%);
    font-size: 0.8rem;
    margin-top: 20px;
    font-weight: 400;
}

/* Media Querries Responsiveness */

@media (max-width: 1200px) {
    .header {
        height: 60vh;
    }

    .header .header-content {
        padding: 100px 150px 0;
    }
}

@media (max-width: 900px) {
    .header .header-content {
        padding: 100px 100px 0;
    }

    .header {
        height: 60vh;
    }

    .tv-container {
        height: 100%;
    }

    .tv-container .movies-container {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0 -50px;
    }

    .tv-container .movies-text {
        width: 100%;
        padding: 0;
    }

    .movies-text > h2 {
        font-size: 2rem;
    }

    .movies-text > h3 {
        font-size: 1.3rem;
    }

    .movies-animation-container {
        width: 100%;
        margin-top: -20px;
    }
}

@media (max-device-width: 700px) {
    /* Header Container Responsiveness */
    .header {
        height: 70vh;
    }

    .header::before {
        background: rgba(0, 0, 0, 0.6);
		box-shadow: inset 80px 80px 150px #000000, inset -80px -80px 150px #000000;
    }

    .header .header-top {
        padding: 25px 30px;
    }

    .header .header-top > img {
        height: 25px;
        width: 100px;
    }

    .header .header-top > a {
        font-size: 0.9rem;
        padding: 5px 10px;
    }

    .header .header-content {
        padding: 80px 50px 40px;
    }

    h2 {
        font-size: 1.625rem;
        line-height: 1.2;
    }

    h3 {
        font-size: 1.1rem;
    }

    .header .header-subcontent > p {
        margin-top: -40px;
        font-size: 0.9rem;
        padding: 0 60px;
    }

    .header-subcontent form input {
        width: 400px;
    }

    /* TV Container Responsiveness */
    .tv-container {
        height: 100%;
    }

    .tv-container .movies-container .movies-container-content {
        flex-direction: column;
        text-align: center;
    }

    .tv-container .movies-text {
        padding: 0;
        width: 100%;
    }

    .movies-animation-container {
        text-align: center;
        margin-top: -15px;
    }

    .movies-animation-container .movies-card-display {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: auto;
    }

    /* Download Container Responsiveness */
    .download-container .mobile-container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .download-container .mobile-text {
        width: 100%;
    }

    .mobile-img-container {
        position: relative;
    }

    .mobile-img-container > img {
        width: 350px;
        height: auto;
        padding-right: 150px;
    }

    /* Everywhere Container Responsiveness */
    .everywhere-container-content {
        padding: 40px 30px;
        width: 100%;
        text-align: center;
        min-width: 400px;
    }

    /* Kids Profile Container Responsiveness */

    .kids-profile-content {
        min-width: 400px;
        flex-direction: column-reverse;
    }

    .kids-profile-content .kids-profile-text {
        width: 100%;
        text-align: center;
        padding: 40px 30px;
    }

    .kids-profile-content .kids-profile-img {
        width: 100%;
        margin: 0 auto;
        padding: 0 0 10px 10px;
    }

    /* Questions Container Responsiveness */
    .faq-container .faq-title {
        padding: 0;
        min-width: 400px;
    }

    /* FAQ Subcontent Responsiveness */
    #email {
        width: 400px;
    }

    .header-subcontent {
        min-width: 400px;
    }

    /* Footer Container Responsiveness */
    .footer-container {
        min-width: 400px;
    }

    .footer-container .footer-container-content {
        padding: 40px 30px;
    }

    .footer-container .footer-link-list {
        display: grid;        
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 550px) {
    .header .header-content {
        padding: 80px 0 40px;
    }
}

